node_modules
debug/*

public/cards/imgs/*

src/vis/__pycache__
src/vis/test
src/vis/model/__pycache__

# testing
src/frontend/coverage

# production
src/frontend/build
src/ai/out

src/ai/.idea
src/ai/backend.iml
